In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
intern_df = pd.read_csv('internships.csv')

In [5]:
intern_df.head(5)

,Company,Job Title,Location,Job Type,Experience,Skill 1,Skill 2,Skill 3,Skill 4,Skill 5,Skill 6,Perk 1,Perk 2,Perk 3
0,Zscaler,Data Science Intern- Undergrad (Summer 2023),"San Jose, CA, United States",Internship,Entry-level,Agile,Architecture,Data analysis,Data Analytics,Data strategy,Data visualization,Competitive pay,Equity,Health care
1,RYTE Corporation,R&D Data Scientist Intern (Alternance),"Nice, Provence-Alpes-Côte d'Azur, France",Internship,Entry-level,Big Data,Computer Science,Deep Learning,Engineering,Keras,Python,Career development,Flex vacation,NaN
2,SOMFY Group,Alternance Data Analyst (H/F),"Cluses, France",Full Time,Entry-level,Data analysis,Excel,Power BI,Python,R,R&D,Salary bonus,NaN,NaN
3,RYTE Corporation,MLOps Engineer Intern (Alternance),"Nice, Provence-Alpes-Côte d'Azur, France",Internship,Entry-level,Azure,Big Data,CI/CD,Computer Science,Databricks,Deep Learning,Career development,NaN,NaN
4,RYTE Corporation,Data Scientist (NLP & ML) Intern (Alternance),"Nice, Provence-Alpes-Côte d'Azur, France",Internship,Entry-level,Azure,Big Data,C++,Computer Science,Deep Learning,Docker,Career development,NaN,NaN